<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/select2.min.css" rel="stylesheet" />
    <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <title>运动会</title>
  </head>
  <body>
    <div class="content">
      <header>
        <a href="index.html" class="logo">
          <span class="logo-lg">校运会系统</span>
        </a>
        <div class="navbar navbar-static-top" role="navigation">
          <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="hiden">|||</span>
          </a>
          <div class="login dropdown-toggle" data-toggle="dropdown">
            <a href="#">我de<span class="caret"></span></a>
          </div>
          <ul class="dropdown-menu pull-right">
            <li><a role="presentation" href="login.html">登录</a></li>
            <li role="presentation" class="divider"></li>
            <li><a role="presentation" href="login.html">退出</a></li>
          </ul>
        </div>
      </header>
      <section>
        <div class="left">
          <ul class="side-menu">
            <li class="list list-select" data-toggle="collapse" data-target="#select">
              <a href="#"><span>信息模块</span><span class="xz xz-select"></span></a>
            </li>
             <li>
              <ul id="select" class="select collapse in">
               <li><a href="athlete.html">运动员信息</a></li>
                <li><a href="referee.html">裁判信息</a></li>
                <li><a href="competition.html">赛事信息</a></li>
                <li><a href="event.html">项目信息</a></li>
                <li><a href="collage.html">学院信息</a></li>
                <li><a href="achievement.html">成绩信息</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="right">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title" style="font-size:23px;text-align:center;">
                赛事信息
              </div>
            </div>
            <div class="panel-body">
              <table class="table table-striped" id="tableExcel">
                <thead>
                  <tr>
                    <th>比赛项目</th>
                    <th>开始时间</th>
                    <th>比赛地点</th>
                    <th>赛事组别</th>
                    <th style="width:200px;">操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="site in list">
                    <td style="vertical-align: middle;">{{site.coEvName}}</td>
                    <td style="vertical-align: middle;">{{site.startTime}}</td>
                    <td style="vertical-align: middle;">{{site.place}}</td>
                    <td style="vertical-align: middle;">{{site.currentGroup}}</td>
                    <td>
                      <button @click="click_competition_delete(site.id)" type="button" name="del" class="btn btn-danger">删除</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="panel-footer" style="min-height:55px;">
              <div class="Excel">
                <a href="#"><button @click="click_event()" class="btn btn-default" type="button" name="button" data-toggle="modal" data-target="#insertyyy">添加赛事</button></a>
              </div>
              <div class="modal fade" id="insertyyy">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title" style="text-align:center;">添加赛事</h1>
                    </div>
                    <div class="modal-body">
                      <form class="container container-small">
                            <div class="form-group">
                              <label>比赛项目</label>
                              <select @change="event_change" class="form-control co_name" style="width:100%;">
                                 <option value="" selected="selected"></option>
                                 <option v-for="site in event" v-bind:value="site.evId">{{site.name}}</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <label>比赛开始时间</label>
                              <input type='text' class="form-control" id="datetime" />
                            </div>
                            <div class="form-group">
                              <label>赛事裁判</label>
                              <select id="co_referee" class="form-control" multiple="multiple" style="width:100%;">
                                <option v-for="site in referee" :value="site.id">{{site.reallyName}}</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <label>比赛地点</label>
                              <input type="text" class="form-control" id="place">
                            </div>
                            <div class="form-group">
                              <label>参赛选手</label>
                              <select id="co_athlete" class="form-control" multiple="multiple" style="width:100%;">
                                <option v-for="site in athleteByEvent" :value="site.id">{{site.name}}</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <label>分组</label>
                              <input type="text" class="form-control" id="currentGroup">
                            </div>
                            <div class="form-group">
                              <label>晋级人数</label>
                              <select id="rules" class="form-control" style="width:100%;">
                                <option value="" selected="selected"></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                              </select>
                            </div>
                            <div id="submit" style="float:right;">
                              <input @click="add_event()" type="submit" name="button" value="提交" class="btn btn-md btn-primary">
                              <button class="btn btn-warning btn-md"  type="button" name="button" data-dismiss="modal">取消</button>
                            </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="page">
                总共：{{sites.total}} 条，显示：{{sites.pageSize}} 条 / 页，
                共 {{sites.pages}} 页 <button @click="page_first()" class="btn btn-default" type="button" name="button">首页</button>
                <button @click="page_up()" class="btn btn-default" type="button" name="button">上一页</button>
                第 <span id="pagenum">{{sites.pageNum}}</span> 页 <button @click="page_down()" class="btn btn-default" type="button" name="button">下一页</button>
                <button @click="page_last()" class="btn btn-default" type="button" name="button">末页</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script src="js/jquery/jquery.min.js"></script>
	  <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/vue/vue.min.js"></script>
    <script src="js/vue/vue-resource.min.js"></script>
    <script src="js/select2//select2.min.js"></script>
    <script src="js/moment/moment-with-locales.min.js"></script>
    <script src="js/bootstrap/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/outExcel.js"></script>
    <script type="text/javascript" src="js/competition.js"></script>
  </body>
</html>
